{% extends "base.html" %}

{% block head %}
     <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">
        Stripe.publishableKey = '{{ publishable }}';
    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/static/js/load.js"></script>
{% endblock %}


{% block content %}
    <form method="post" action="{% url 'details'%}">
        {% csrf_token %}
            {{ form.stripe_id.as_hidden }}


            <div>
                <div id="card-num">
                    <label for="credit_card_number">Card Number</label>
                    <input type="text">
                </div>

                <div id="security">
                    <label for="cvv">Security Code (CVV)</label>
                    <input type="text">
                </div>

                <div id="expiry-date">
                    <label for="expiry_date">Expiry Date</label>
                        <div id="input">
                        <select id="expiry_month">
                            {% for month in months %}
                                <option value="{{ month }}" {% if soon.month == month %} selected {% endif %}> {{ month }} </option>
                            {% endfor %}
                        </select>
                        <select id="expiry_year">
                            {% for year in years %}
                                <option value="{{ year }}" {% if soon.year == year %} selected {% endif %}> {{ year }} </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

            </div>
            <input type="submit" value="Validate Credit Card">
    </form>
{% endblock %}